{% extends 'base.html' %}

{% block title %}
    Register
{% endblock title %}

{% block content %}  
<style>
    .register-container {
      display: grid;
      place-items: center;
      height: 80vh;
      color:white;
    }

    .register-form {
      max-width: 725px;
      width: 100%;
      padding: 40px;
      border: 1px solid #ccc;
      border-radius: 20px;
      background-color: #f1ab80;
    }

    .register-title {
      text-align: center;
    }

    .form-control {
      width: 100%;
    }

    .submit-btn {
      width: 100%;
      background-color: #f5c16c;
      border: 1px solid #f5c16c;
      color: white;
      font-weight: bold;
      text-align: center;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      margin-top:20px;
    }

    .submit-btn:hover {
      background-color: #d66036;
      border-color: #d66036;
    }
</style>

<div class="register-container">
  <div class="register-form">
    <h2 class="register-title">REGISTER</h2>

    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password">
      </div>
      <button type="submit" class="submit-btn">Register</button>
    </form>
  </div>
</div>

{% endblock content %}
