{% extends 'base.html' %}
{% load static %}

{% block content %}
<title>Halaman Beli</title>

<style>
    body {
        background-color: #FDF5EF; 
    }

    .container {
        margin-top: 50px; 
        text-align: center; 
    }

    h2 {
        color: #E76838; 
        font-size: 24px; 
        margin-bottom: 20px; 
    }

    h3 {
        color: #73261B; 
        font-size: 16px;
        margin-bottom: 20px; 
        text-align: left;
    }

    th, td {
        color: #73261B; 
        font-size: 14px; 
        padding: 12px 15px; 
        line-height: 1; 
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis;
    }

    tr {
        height: 40px;
    }

    table {
        background-color: #FBE7D9;
        font-size: 14px; 
        table-layout: fixed; 
        width: 100%;
    }

    .btn-danger {
        background-color: #EA7F4D; 
        border-color: #EA7F4D; 
        font-size: 12px; 
        padding: 4px, 128px;
    }

    .btn-danger:hover {
        background-color: #E76838; 
        border-color: #E76838; 
    }

    .filter-container {
        text-align: center; 
        margin-bottom: 20px;
    }

    .filter-container select {
        width: 100%; 
        padding: 10px; 
        background-color: #FFF0E5;
        color: #A0522D; 
        border: 1px solid #A0522D; 
        box-sizing: border-box;
        border-radius: 5px;
        -webkit-appearance: none; 
        -moz-appearance: none; 
        appearance: none; 
    }

    .filter-container select {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23A0522D" d="M7 10l5 5 5-5z"/></svg>');
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 12px;
    }

    .filter-container select:hover {
        background-color: #FFEDE0; 
        cursor: pointer;
    }

    .filter-container select option {
        background-color: #FFF0E5;
        color: #A0522D; 
    }

</style>

<div class="container">
  <h2>Halaman Beli</h2>
  
  <h3>Informasi Paket yang Ingin Dibeli:</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nama</th>
        <th scope="col">Harga</th>
        <th scope="col">Resolusi Layar</th>
        <th scope="col">Dukungan Perangkat</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ paket.nama }}</td>
        <td>{{ paket.harga }}</td>
        <td>{{ paket.resolusi_layar }}</td>
        <td>{{ paket.dukungan_perangkat }}</td>
      </tr>
    </tbody>
  </table>

  <h3>Pilih Metode Pembayaran:</h3>
    <form action="{% url 'process_purchase' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="nama_paket" value="{{ paket.nama }}">
      <input type="hidden" name="harga" value="{{ paket.harga }}">
      <input type="hidden" name="resolusi_layar" value="{{ paket.resolusi_layar }}">
      <input type="hidden" name="dukungan_perangkat" value="{{ paket.dukungan_perangkat }}">
      <div class="filter-container">
          <select name="payment_method" id="paymentMethod">
              {% for method in payment_methods %}
              <option value="{{ method }}">{{ method }}</option>
              {% endfor %}
          </select>
      </div>
      <button type="submit" class="btn btn-danger">Bayar</button>
    </form>

{% endblock content %}
