{% extends 'base.html' %}
{% load static %}

{% block content %}
<title>Halaman Kelola Langganan</title>

<style>
    body {
        background-color: #FDF5EF;
    }

    .container {
        margin-top: 50px; 
        text-align: center;
    }

    h2 {
        color: #E76838; 
        font-size: 24px; 
        margin-bottom: 20px; 
    }

    h3 {
        color: #73261B; 
        font-size: 16px; 
        margin-bottom: 20px;
        text-align: left;
        margin-bottom: 5px;
    }

    th, td {
        color: #73261B; 
        font-size: 14px;
        padding: 12px 15px; 
        line-height: 1; 
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis; 
    }

    tr {
        height: 40px; 
    }

    table {
        background-color: #FBE7D9;
        font-size: 14px; 
        table-layout: fixed; 
        width: 100%; 
        margin-bottom: 30px;
    }

    .btn-danger {
        background-color: #EA7F4D; 
        border-color: #EA7F4D; 
        font-size: 12px; 
        padding: 4px 24px;
    }

    .btn-danger:hover {
        background-color: #E76838;
        border-color: #E76838; 
    }

</style>

<div class="container">
  <h2>Halaman Kelola Langganan</h2>
  <h3>Paket Langganan Aktif Anda:</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nama</th>
        <th scope="col">Harga</th>
        <th scope="col">Resolusi Layar</th>
        <th scope="col">Dukungan Perangkat</th>
        <th scope="col">Tanggal Dimulai</th>
        <th scope="col">Tanggal Akhir</th>
      </tr>
    </thead>
    <tbody>
      {% for sub in active_subscription %}
      <tr>
        <td>{{ sub.nama }}</td>
        <td>{{ sub.harga }}</td>
        <td>{{ sub.resolusi_layar }}</td>
        <td>{{ sub.dukungan_perangkat }}</td>
        <td>{{ sub.start_date_time }}</td>
        <td>{{ sub.end_date_time }}</td>
      </tr>
      {% empty %}
      <tr><td colspan="6">No active subscriptions found.</td></tr>
      {% endfor %}
    </tbody>
  </table>

  <h3>Pilih Paket Lain:</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nama</th>
        <th scope="col">Harga</th>
        <th scope="col">Resolusi Layar</th>
        <th scope="col">Dukungan Perangkat</th>
        <th scope="col">Beli</th>
      
      </tr>
    </thead>
    <tbody>
      {% for package in available_packages %}
      <tr>
        <td>{{ package.nama }}</td>
        <td>{{ package.harga }}</td>
        <td>{{ package.resolusi_layar }}</td>
        <td>{{ package.dukungan_perangkat }}</td>
        <td>
          <form action="{% url 'display_beli' package.nama %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="harga" value="{{ package.harga }}">
            <input type="hidden" name="resolusi_layar" value="{{ package.resolusi_layar }}">
            <input type="hidden" name="dukungan_perangkat" value="{{ package.dukungan_perangkat }}">
            <button type="submit" class="btn btn-danger">Beli</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>    
  </table>

  <h3>Riwayat Transaksi</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nama Paket</th>
        <th scope="col">Tanggal Dimulai</th>
        <th scope="col">Tanggal Akhir</th>
        <th scope="col">Metode Pembayaran</th>
        <th scope="col">Tanggal Pembayaran</th>
        <th scope="col">Total Pembayaran</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transaction_history %}
      <tr>
        <td>{{ transaction.nama_paket }}</td>
        <td>{{ transaction.start_date_time }}</td>
        <td>{{ transaction.end_date_time }}</td>
        <td>{{ transaction.metode_pembayaran }}</td>
        <td>{{ transaction.timestamp_pembayaran }}</td>
        <td>{{ transaction.total_pembayaran }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">No subscription found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
