{% extends 'base.html' %}
{% load static %}

{% block content %}
<title>Halaman Kelola Langganan</title>

<style>
    body {
        background-color: #FDF5EF; /* Background color */
    }

    .container {
        margin-top: 50px; /* Adjust the top margin */
        text-align: center; /* Center align the content */
    }

    h2 {
        color: #E76838; /* Title color */
        font-size: 24px; /* Title font size */
        margin-bottom: 20px; /* Add some spacing between title and table */
    }

    h3 {
        color: #73261B; /* Title color */
        font-size: 16px; /* Title font size */
        margin-bottom: 20px; /* Add some spacing between title and table */
        text-align: left;
        margin-bottom: 5px;
    }

    th, td {
        color: #73261B; /* Text color */
        font-size: 14px; /* Font size for table cells */
        padding: 12px 15px; /* Adjust padding for table cells (increased padding) */
        line-height: 1; /* Adjust line height for table cells */
        white-space: nowrap; /* Prevent text wrapping */
        overflow: hidden; /* Hide overflow */
        text-overflow: ellipsis; /* Display ellipsis for overflow text */
    }

    tr {
        height: 40px; /* Fixed height for table rows */
    }

    table {
        background-color: #FBE7D9; /* Table background color */
        font-size: 14px; /* Font size for the whole table */
        table-layout: fixed; /* Use fixed table layout to enforce cell width */
        width: 100%; /* Set table width to 100% */
        margin-bottom: 30px;
    }

    .btn-danger {
        background-color: #EA7F4D; /* Button background color */
        border-color: #EA7F4D; /* Button border color */
        font-size: 12px; /* Button font size */
        padding: 4px 24px; /* Adjust padding for buttons */
    }

    .btn-danger:hover {
        background-color: #E76838; /* Button hover background color */
        border-color: #E76838; /* Button hover border color */
    }

</style>

<div class="container">
  <h2>Halaman Kelola Langganan</h2>
  <h3>Paket Langganan Aktif Anda:</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nama</th>
        <th scope="col">Harga</th>
        <th scope="col">Resolusi Layar</th>
        <th scope="col">Dukungan Perangkat</th>
        <th scope="col">Tanggal Dimulai</th>
        <th scope="col">Tanggal Akhir</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Premium</td>
        <td>49.000</td>
        <td>4K</td>
        <td>Ok</td>
        <td>28 April 2024</td>
        <td>28 Mei 2024</td>
      </tr>
      
    </tbody>
  </table>

  <h3>Pilih Paket Lain:</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nama</th>
        <th scope="col">Harga</th>
        <th scope="col">Resolusi Layar</th>
        <th scope="col">Dukungan Perangkat</th>
        <th scope="col">Beli</th>
      
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Premium</td>
        <td>49.000</td>
        <td>4K</td>
        <td>Ok</td>
        <td>
            <!-- <button type="button" class="btn btn-danger btn-sm">Beli</button> -->
            <a href="{% url 'beli' %}" class="btn btn-danger">Beli</a>
        </td>
      </tr>
      <tr>
        <td>Standar</td>
        <td>29.000</td>
        <td>1440p</td>
        <td>Ok</td>
        <td>
            <a href="{% url 'beli' %}" class="btn btn-danger">Beli</a>
            <!-- <button type="button" class="btn btn-danger btn-sm">Beli</button> -->
        </td>
      </tr>
      <tr>
        <td>Basic</td>
        <td>19.000</td>
        <td>720p</td>
        <td>Ok</td>
        <td>
            <a href="{% url 'beli' %}" class="btn btn-danger">Beli</a>
            <!-- <button type="button" class="btn btn-danger btn-sm">Beli</button> -->
        </td>
      </tr>
    </tbody>
  </table>

  <h3>Riwayat Transaksi</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nama Paket</th>
        <th scope="col">Tanggal Dimulai</th>
        <th scope="col">Tanggal Akhir</th>
        <th scope="col">Metode Pembayaran</th>
        <th scope="col">Tanggal Pembayaran</th>
        <th scope="col">Total Pembayaran</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Premium</td>
        <td>28 April 2024</td>
        <td>28 Mei 2024</td>
        <td>Transfer Bank</td>
        <td>28 April 2024</td>
        <td>49.000</td>
      </tr>
      <tr>
        <td>Standar</td>
        <td>28 Mei 2024</td>
        <td>28 Juni 2024</td>
        <td>Kartu kredit</td>
        <td>28 April 2024</td>
        <td>29.000</td>
      </tr>
      <tr>
        <td>Basic</td>
        <td>28 Juni 2024</td>
        <td>28 Juli 2024</td>
        <td>E-Wallet</td>
        <td>28 April 2024</td>
        <td>19.000</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock content %}
