{% extends 'base-temp.html' %} {% block content %}

<div class="w-screen" style="margin: -24px 0 0">
  <h1
    class="w-screen bg-[#E76838] py-2 font-bold text-white text-lg text-center"
  >
    Halaman Film
  </h1>
  <div class="container">
    <!-- Title & Genre -->
    <div class="my-5 ml-5">
      <h1 class="text-5xl">
        Judul Film: <span class="font-bold">{{ film.0 }}</span>
      </h1>
      <h2 class="text-xl">
        Genre: <span class="font-semibold">{{ film.8 }}</span>
      </h2>
    </div>
    <!-- Slider -->
    <div class="flex flex-col items-center py-5 gap-3" id="slider-container">
      <input
        id="progress-slider"
        type="range"
        min="0"
        max="100"
        value="0"
        class="w-fit mx-auto"
      />
    </div>

    <!-- Buttons -->
    <div class="flex flex-row justify-center mt-3">
      {% if film.12 == 'released' %}
      <button
        id="tonton-button"
        class="bg-[#DF8931] text-white px-4 py-2 mx-2 rounded-3xl hover:bg-[#F4BA7E] active:bg-[#DF8931]"
      >
        Tonton Sekarang
      </button>
      {% else %}
      <button
        class="bg-gray-400 text-white px-4 py-2 mx-2 rounded-3xl cursor-not-allowed"
        disabled
      >
        Film Belum Dirilis
      </button>
      {% endif %}
      <button
        class="bg-[#FFD874] text-white px-4 py-2 mx-2 rounded-3xl hover:bg-[#FFEDBF] active:bg-[#FFD874]"
        id="unduh-tayangan"
        data-tayangan-id="{{ film_id }}"
        data-tayangan-judul="{{ film.0 }}"
      >
        Unduh Tayangan</button
      ><button
        class="bg-[#ABFF84] text-white px-4 py-2 mx-2 rounded-3xl hover:bg-[#D7FFC4] active:bg-[#ABFF84]"
      >
        Tambah ke Favorit
      </button>
    </div>

    <!-- Modal for Success -->
    <div id="modal-unduh-success" class="" style="display: none">
      <div
        class="flex flex-col justify-center items-center bg-white py-2 px-2 my-3 gap-1"
      >
        <h2>SUKSES MENAMBAHKAN TAYANGAN KE DAFTAR UNDUHAN</h2>
        <p class="text-center">
          Selamat! Anda telah berhasil mengunduh
          <span id="tayangan-judul" class="font-bold"></span> dan akan berlaku
          hingga <span id="berlaku-hingga" class="font-bold"></span>. Cek
          informasi selengkapnya pada halaman daftar unduhan.
        </p>
        <a
          href="{% url 'daftar:daftar_unduhan' %}"
          class="button bg-gray-400 rounded px-2 hover:text-white"
          >Tombol Menuju Daftar Unduhan</a
        >
      </div>
    </div>

    <!-- Script for Slider and Button and -->
    <script>
      const tontonButton = document.getElementById("tonton-button");
      const progressSlider = document.getElementById("progress-slider");

      tontonButton.addEventListener("click", function () {
        const percentage = progressSlider.value;
        if (percentage >= 70) {
          // Send an AJAX request to the server to record the watch progress
          fetch("/tayangan/film/{{ film_id }}/watch/", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.success) {
                alert("Film watched successfully!");
              }
            });
        } else {
          alert("Please watch at least 70% of the film to mark it as watched.");
        }
      });
    </script>

    <!-- Script For Unduhan -->
    <script>
      document
        .getElementById("unduh-tayangan")
        .addEventListener("click", function () {
          var tayanganId = this.getAttribute("data-tayangan-id");
          var tayanganJudul = this.getAttribute("data-tayangan-judul");

          fetch("/tayangan/unduh-tayangan/" + tayanganId + "/", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.status === "success") {
                var modal = document.getElementById("modal-unduh-success");
                var tayanganJudulElement =
                  document.getElementById("tayangan-judul");
                var berlakuHinggaElement =
                  document.getElementById("berlaku-hingga");

                tayanganJudulElement.textContent = tayanganJudul;
                berlakuHinggaElement.textContent = data.berlaku_hingga;

                modal.style.display = "block";
              } else {
                alert("Error: " + data.message);
              }
            })
            .catch((error) => {
              alert("An error occurred while unduh tayangan.");
              console.error("Error:", error);
            });
        });
    </script>

    <!-- Description -->
    <div class="flex flex-row bg-[#D9D9D9] mt-3 pt-3">
      <div class="">
        <h1 class="text-4xl rounded-r-3xl bg-[#EDEDED] w-fit pl-1 pr-5 py-1">
          Deskripsi Tayangan:
        </h1>
        <p class="text-black text-lg ml-3 py-5">
          Total View: {{ film.6 }} <br />
          Rating Rata-Rata: {{ film.7 }} <br />
          Sinopsis: {{ film.1 }} <br />
          Durasi Film: {{ film.5 }} Menit <br />
          Tanggal Rilis Film: {{ film.4 }} <br />
          URL Film: <a href="{{ film.3 }}">{{ film.3 }}</a> <br />
          Asal Negara: {{ film.2 }} <br />
          Pemain: {{ film.9 }} <br />
          Penulis Skenario: {{ film.10 }}<br />
          Sutradara: {{ film.11 }}
        </p>
      </div>
    </div>
    <!-- Ulasan -->
    <div class="bg-[#D9D9D9] pt-3">
      <h1 class="text-4xl rounded-r-3xl bg-[#EDEDED] w-fit pl-1 pr-5 py-1">
        Ulasan
      </h1>
      <div class="w-1/2 mx-auto flex flex-col items-center" id="review-input">
        <label class="block text-black ml-2 self-start" for="username"
          >Berikan Ulasan</label
        >
        <input
          class="shadow w-full appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="ulasan-film"
          type="text"
          placeholder="Tulis ulasan..."
        />
        <label class="block text-black ml-2 self-start mt-3" for="rating"
          >Rating (1-5)</label
        >
        <input
          class="shadow w-full appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="rating-film"
          type="number"
          min="1"
          max="5"
          placeholder="Berikan rating..."
        />
        <button
          class="shadow bg-[#DF8931] text-white px-4 pt-1 rounded hover:bg-[#F4BA7E] active:bg-[#DF8931] mt-3"
          id="submit-review"
          data-film-id="{{ film_id }}"
        >
          Submit
        </button>
      </div>
    </div>

    <!-- Review List -->
    <div class="bg-[#D9D9D9] pt-3">
      <h2 class="ml-5 mb-2">Daftar Ulasan:</h2>
      <!-- Reviews -->
      <div class="gap-5 flex flex-col">
        {% for review in reviews %}
        <div class="bg-[#EDEDED] mx-10">
          <div class="flex flex-row">
            <h3 class="mt-2 ml-5 font-bold">{{ review.0 }}</h3>
            <div class="ml-auto mt-2 mr-5">
              <p>Rating: {{ review.1 }}/5</p>
            </div>
          </div>
          <p class="mt-2 mx-5 text-black text-base font-normal">
            {{ review.2 }}
          </p>
        </div>
        {% endfor %}
      </div>
    </div>

    <script>
      document
        .getElementById("submit-review")
        .addEventListener("click", function () {
          var filmId = this.getAttribute("data-film-id");
          var deskripsi = document.getElementById("ulasan-film").value;
          var rating = document.getElementById("rating-film").value;

          fetch("/tayangan/submit-review/" + filmId + "/", {
            method: "POST",
            headers: {
              "Content-Type": "application/x-www-form-urlencoded",
            },
            body:
              "deskripsi=" +
              encodeURIComponent(deskripsi) +
              "&rating=" +
              encodeURIComponent(rating),
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.status === "success") {
                alert("Review submitted successfully!");
                location.reload();
              } else {
                alert("Error: " + data.message);
              }
            })
            .catch((error) => {
              alert("An error occurred while submitting the review.");
              console.error("Error:", error);
            });
        });
    </script>
  </div>
</div>
{% endblock content %}
