{% extends 'base-temp.html' %} {% block content %}
<div class="w-screen" style="margin: -24px 0 0">
  <h1
    class="w-screen bg-[#E76838] py-2 font-bold text-white text-lg text-center"
  >
    Daftar Tayangan
  </h1>
  <div class="container">
    <div class="my-2">
      <label class="block text-black font-bold ml-2" for="username">
        Search Judul
      </label>
      <input
        class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="movie-title"
        type="text"
        placeholder="Enter movie title"
      />
      <button
        class="bg-[#DF8931] text-white px-4 py-2 rounded hover:bg-[#F4BA7E] active:bg-[#DF8931]"
      >
        Search
      </button>
    </div>

    <!-- Display the list of films -->
    <div class="mt-10 container h-full px-5 m">
      <div class="w-full">
        <h1 class="text-2xl font-bold text-center mt-2">Hasil Pencarian</h1>
        <div class="mx-auto mt-3">
          <table class="w-full text-left table-auto">
            <thead>
              <tr class="bg-[#EFB177] text-black">
                <th class="py-2 px-4">Judul Film</th>
                <th class="py-2 px-4">Sinopsis</th>
                <th class="py-2 px-4">URL Trailer</th>
                <th class="py-2 px-4">Tanggal Rilis</th>
                <th class="py-2 px-4"></th>
              </tr>
            </thead>
            <tbody>
              {% for hasil in search_results %}
              <tr class="{% cycle 'bg-white' 'bg-gray-100' %}">
                <td class="py-2 px-4">{{ hasil.judul }}</td>
                <td class="py-2 px-4">{{ hasil.sinopsis }}</td>
                <td class="py-2 px-4">
                  <a
                    href="{{ hasil.url }}"
                    class="text-blue-500 hover:underline"
                    >{{ hasil.url }}</a
                  >
                </td>
                <td class="py-2 px-4">{{ hasil.tanggal_rilis }}</td>
                <td class="py-2 px-4">
                  <button
                    class="bg-[#DF8931] text-white px-4 py-2 rounded hover:bg-[#F4BA7E] active:bg-[#DF8931]"
                  >
                    Tonton
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
