{% extends 'base-temp.html' %} {% block content %}
<div class="w-screen" style="margin: -24px 0 0">
  <h1
    class="w-screen bg-[#E76838] py-2 font-bold text-white text-lg text-center"
  >
    Daftar Tayangan
  </h1>
  <div class="container">
    <div class="my-2">
      <form action="{% url 'tayangan_list' %}" method="GET">
        <label class="block text-black font-bold ml-2" for="search">
          Search Judul
        </label>
        <input
          class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="search"
          type="text"
          placeholder="Enter movie title"
          name="search"
          value="{{ search_query }}"
        />
        <button
          class="bg-[#DF8931] text-white px-4 py-2 rounded hover:bg-[#F4BA7E] active:bg-[#DF8931]"
          type="submit"
        >
          Search
        </button>
      </form>
    </div>

    {% if not search_query %}
    <!-- Display the list of trailers -->

    <!-- Top 10 Shows -->
    <div class="mt-10 container h-full px-5 m">
      <div class="w-full">
        <h1 class="text-2xl font-bold text-center mt-2">
          Top 10 Tayangan Minggu Ini Secara Global
        </h1>
        <div class="mx-auto mt-3">
          <table class="w-full text-left table-auto">
            <thead>
              <tr class="bg-[#EFB177] text-black">
                <th class="py-2 px-4">Peringkat</th>
                <th class="py-2 px-4">Judul Film</th>
                <th class="py-2 px-4">Sinopsis</th>
                <th class="py-2 px-4">URL Trailer</th>
                <th class="py-2 px-4">Tanggal Rilis</th>
                <th class="py-2 px-4">Total View 7 Hari Terakhir</th>
                <th class=""></th>
              </tr>
            </thead>
            <tbody>
              {% for tayangan in top_tayangan %}
              <tr class="{% cycle 'bg-white' 'bg-gray-100' %}">
                <td class="py-2 px-4">{{ forloop.counter }}</td>
                <td class="py-2 px-4">{{ tayangan.1 }}</td>
                <td class="py-2 mx-10">{{ tayangan.2 }}</td>
                <td class="py-2 px-4">
                  <a
                    href="{{ tayangan.3 }}"
                    class="text-blue-500 hover:underline"
                    >{{ tayangan.3 }}</a
                  >
                </td>
                <td class="py-2 px-4">{{ tayangan.4 }}</td>
                <td class="py-2 px-4">{{ tayangan.5 }}</td>
                <td class="py-2 px-4">
                  {% if tayangan.6 == 'film' %}
                  <a
                    href="{% url 'detail_tayangan_film' tayangan.0 %}"
                    class="bg-[#DF8931] text-white px-4 py-2 rounded hover:bg-[#F4BA7E] active:bg-[#DF8931]"
                  >
                    Tonton
                  </a>
                  {% elif tayangan.6 == 'series' %}
                  <a
                    href="{% url 'detail_tayangan_series' tayangan.0 %}"
                    class="bg-[#DF8931] text-white px-4 py-2 rounded hover:bg-[#F4BA7E] active:bg-[#DF8931]"
                  >
                    Tonton
                  </a>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endif %}

    <!-- Display search results or all films and series -->
    {% if search_query %}
    <h2 class="text-3xl font-semibold mt-8 text-center">
      Search Results for "{{ search_query }}"
    </h2>
    {% endif %}

    <!-- Display the list of films -->
    <div class="mt-10 container h-full px-5 m">
      <div class="w-full">
        <h1 class="text-2xl font-bold text-center mt-2">List Film</h1>
        <div class="mx-auto mt-3">
          <table class="w-full text-left table-auto">
            <thead>
              <tr class="bg-[#EFB177] text-black">
                <th class="py-2 px-4">Judul Film</th>
                <th class="py-2 px-4">Sinopsis</th>
                <th class="py-2 px-4">URL Trailer</th>
                <th class="py-2 px-4">Tanggal Rilis</th>
                <th class="py-2 px-4"></th>
              </tr>
            </thead>
            <tbody>
              {% for film in films %}
              <tr class="{% cycle 'bg-white' 'bg-gray-100' %}">
                <td class="py-2 px-4">{{ film.1 }}</td>
                <td class="py-2 px-4">{{ film.2 }}</td>
                <td class="py-2 px-4">
                  <a
                    href="{{ tayangan.url }}"
                    class="text-blue-500 hover:underline"
                    >{{ film.3 }}</a
                  >
                </td>
                <td class="py-2 px-4">{{ film.4 }}</td>
                <td class="py-2 px-4">
                  <a
                    href="{% url 'detail_tayangan_film' film.0 %}"
                    class="bg-[#DF8931] text-white px-4 py-2 rounded hover:bg-[#F4BA7E] active:bg-[#DF8931]"
                  >
                    Tonton
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Display the list of series -->
    <div class="mt-10 container h-full px-5 pb-20">
      <div class="w-full">
        <h1 class="text-2xl font-bold text-center mt-2">List Series</h1>
        <div class="mx-auto mt-3">
          <table class="w-full text-left table-auto">
            <thead>
              <tr class="bg-[#EFB177] text-black">
                <th class="py-2 px-4">Judul Series</th>
                <th class="py-2 px-4">Sinopsis</th>
                <th class="py-2 px-4">URL Trailer</th>
                <th class="py-2 px-4">Tanggal Rilis</th>
                <th class="py-2 px-4"></th>
              </tr>
            </thead>
            <tbody>
              {% for series in series %}
              <tr class="{% cycle 'bg-white' 'bg-gray-100' %}">
                <td class="py-2 px-4">{{ series.1 }}</td>
                <td class="py-2 px-4">{{ series.2 }}</td>
                <td class="py-2 px-4">
                  <a
                    href="{{ tayangan.url }}"
                    class="text-blue-500 hover:underline"
                    >{{ series.3 }}</a
                  >
                </td>
                <td class="py-2 px-4">{{ series.4 }}</td>
                <td class="py-2 px-4">
                  <a
                    href="{% url 'detail_tayangan_series' series.0 %}"
                    class="bg-[#DF8931] text-white px-4 py-2 rounded hover:bg-[#F4BA7E] active:bg-[#DF8931]"
                  >
                    Tonton
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
