{% extends 'base-temp.html' %} {% block content %}
<div class="w-screen" style="margin: -24px 0 0">
  <h1
    class="w-screen bg-[#E76838] py-2 font-bold text-white text-lg text-center"
  >
    Daftar Tayangan
  </h1>
  <div class="container">
    <div class="my-2">
      <label class="block text-black font-bold ml-2" for="username">
        Search Judul
      </label>
      <input
        class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="movie-title"
        type="text"
        placeholder="Enter movie title"
      />
      <button
        class="bg-[#DF8931] text-white px-4 py-2 rounded hover:bg-[#F4BA7E] active:bg-[#DF8931]"
      >
        Search
      </button>
    </div>
    <h1 class="text-2xl text-center">Top 10 Tayangan Minggu Ini</h1>
    <div class="flex flex-row justify-center mt-2">
      <a href="" style="text-decoration: none">
        <h2
          class="bg-[#DF480E] hover:bg-[#F4BA7E] active:bg-[#DF8931] text-white border-2 border-black py-1 px-5 border-r-0"
        >
          Top 10 Global
        </h2></a
      >
      <a href="" style="text-decoration: none">
        <h2
          class="bg-[#DF480E] hover:bg-[#F4BA7E] active:bg-[#DF8931] text-white border-2 border-black py-1 px-5"
        >
          Top 10 Local
        </h2></a
      >
    </div>
    <!-- Display the list of trailers -->
    <div class="container px-5 m grid grid-cols-1 gap-4 mt-4">
      <!-- Trailer item template -->
      <div class="bg-[#D9D9D9] shadow rounded p-4">
        <img
          src="trailer-image.jpg"
          alt="Trailer Image"
          class="w-full h-40 object-cover mb-2"
        />
        <h2 class="text-lg font-bold">Trailer Title</h2>
        <p class="text-gray-600">Trailer description goes here...</p>
      </div>
      <div class="bg-[#D9D9D9] shadow rounded p-4">
        <img
          src="trailer-image.jpg"
          alt="Trailer Image"
          class="w-full h-40 object-cover mb-2"
        />
        <h2 class="text-lg font-bold">Trailer Title</h2>
        <p class="text-gray-600">Trailer description goes here...</p>
      </div>
      <div class="bg-[#D9D9D9] shadow rounded p-4">
        <img
          src="trailer-image.jpg"
          alt="Trailer Image"
          class="w-full h-40 object-cover mb-2"
        />
        <h2 class="text-lg font-bold">Trailer Title</h2>
        <p class="text-gray-600">Trailer description goes here...</p>
      </div>
    </div>
    <!-- Display the list of films -->
    <div class="mt-10 container h-full px-5 m">
      <div class="w-full">
        <h1 class="text-2xl font-bold text-center mt-2">List Film</h1>
        <div class="mx-auto mt-3">
          <table class="w-full text-left table-auto">
            <thead>
              <tr class="bg-[#EFB177] text-black">
                <th class="py-2 px-4">Judul Film</th>
                <th class="py-2 px-4">Sinopsis</th>
                <th class="py-2 px-4">URL Trailer</th>
                <th class="py-2 px-4">Tanggal Rilis</th>
                <th class="py-2 px-4"></th>
              </tr>
            </thead>
            <tbody>
              {% for tayangan in tayangan_list %}
              <tr class="{% cycle 'bg-white' 'bg-gray-100' %}">
                <td class="py-2 px-4">{{ tayangan.judul }}</td>
                <td class="py-2 px-4">{{ tayangan.sinopsis }}</td>
                <td class="py-2 px-4">
                  <a
                    href="{{ tayangan.url }}"
                    class="text-blue-500 hover:underline"
                    >{{ tayangan.url }}</a
                  >
                </td>
                <td class="py-2 px-4">{{ tayangan.tanggal_rilis }}</td>
                <td class="py-2 px-4">
                  <button
                    class="bg-[#DF8931] text-white px-4 py-2 rounded hover:bg-[#F4BA7E] active:bg-[#DF8931]"
                  >
                    Tonton
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Display the list of series -->
    <div class="mt-10 container h-full px-5 mb-20">
      <div class="w-full">
        <h1 class="text-2xl font-bold text-center mt-2">List Series</h1>
        <div class="mx-auto mt-3">
          <table class="w-full text-left table-auto">
            <thead>
              <tr class="bg-[#EFB177] text-black">
                <th class="py-2 px-4">Judul Series</th>
                <th class="py-2 px-4">Sinopsis</th>
                <th class="py-2 px-4">URL Trailer</th>
                <th class="py-2 px-4">Tanggal Rilis</th>
                <th class="py-2 px-4"></th>
              </tr>
            </thead>
            <tbody>
              {% for tayangan in tayangan_list %}
              <tr class="{% cycle 'bg-white' 'bg-gray-100' %}">
                <td class="py-2 px-4">{{ tayangan.judul }}</td>
                <td class="py-2 px-4">{{ tayangan.sinopsis }}</td>
                <td class="py-2 px-4">
                  <a
                    href="{{ tayangan.url }}"
                    class="text-blue-500 hover:underline"
                    >{{ tayangan.url }}</a
                  >
                </td>
                <td class="py-2 px-4">{{ tayangan.tanggal_rilis }}</td>
                <td class="py-2 px-4">
                  <button
                    class="bg-[#DF8931] text-white px-4 py-2 rounded hover:bg-[#F4BA7E] active:bg-[#DF8931]"
                  >
                    Tonton
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
