{% extends 'base.html' %}
{% load static %}

{% block content %}
<title>Daftar Unduhan Pengguna</title>

<style>
    body {
        background-color: #FDF5EF; /* Background color */
    }

    .container {
        margin-top: 50px; /* Adjust the top margin */
        text-align: center; /* Center align the content */
    }

    h2 {
        color: #E76838; /* Title color */
        font-size: 24px; /* Title font size */
        margin-bottom: 20px; /* Add some spacing between title and table */
    }

    th, td {
        color: #73261B; /* Text color */
        font-size: 14px; /* Font size for table cells */
        padding: 12px 15px; /* Adjust padding for table cells (increased padding) */
        line-height: 1; /* Adjust line height for table cells */
        white-space: nowrap; /* Prevent text wrapping */
        overflow: hidden; /* Hide overflow */
        text-overflow: ellipsis; /* Display ellipsis for overflow text */
    }

    tr {
        height: 40px; /* Fixed height for table rows */
    }

    table {
        background-color: #FBE7D9; /* Table background color */
        font-size: 14px; /* Font size for the whole table */
        table-layout: fixed; /* Use fixed table layout to enforce cell width */
        width: 100%; /* Set table width to 100% */
    }

    .btn-danger {
        background-color: #EA7F4D; /* Button background color */
        border-color: #EA7F4D; /* Button border color */
        font-size: 12px; /* Button font size */
        padding: 4px 8px; /* Adjust padding for buttons */
    }

    .btn-danger:hover {
        background-color: #E76838; /* Button hover background color */
        border-color: #E76838; /* Button hover border color */
    }
</style>

<div class="container">
  <h2>Daftar Unduhan Pengguna</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Judul</th>
        <th scope="col">Waktu Diunduh</th>
        <th scope="col">Aksi</th>
      </tr>
    </thead>
    <tbody>
      {% for judul, waktu in daftar_favorit %}
        <tr>
          <td>{{ judul }}</td>
          <td>{{ waktu }}</td>
          <td>
            <button type="button" class="btn btn-danger btn-sm">Delete</button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
